@model IEnumerable<resturangAPI_MVC.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <img src="@(string.IsNullOrEmpty(item.ImageUrl) ? Url.Content("~/images/italianfood.jpg") : item.ImageUrl)"
                 alt="@item.Name"
                 onerror="this.onerror=null; this.src='@Url.Content("~/images/italianfood.jpg")';"
                 loading="lazy"
                 width="200"
                 height="150" />
            </td>

				@if(User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MenuId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MenuId })
                    </td>
                }
          
        </tr>
    }
    </tbody>
</table>
